<footer class="row justify-content-center m-0 pt-3">

        <img src="../../../assets/image/logo.png" class="img-thumbnail d-none d-md-block"> 
    
    <div class="col-12 col-md-6 d-flex flex-nowrap">
        <div class="row d-none d-sm-flex">
            <ul class="col-12 col-sm-4">
                <span class="text-white font-weight-bold">Nosotros</span>
                <li><a routerLink="/sobre-fs" class="text-light">Sobre FS</a></li>
                <li><a routerLink="/contacto" class="text-light">Contacto</a></li>
            </ul>
            <ul class="col-12 col-sm-4">
                <span class="text-white font-weight-bold">Comunidad</span>
                <li><a class="text-light">Facebook</a></li>
                <li><a class="text-light">Youtube</a></li>
                <li><a class="text-light">Instagram</a></li>
            </ul>
            <ul class="col-12 col-sm-4">
                <span class="text-white font-weight-bold">Legal</span>
                <li><a routerLink="/dcma" class="text-light">DCMA</a></li>
                <li><a routerLink="/terminos-y-condiciones" class="text-light">Terminos y Condiciones</a></li>
                <li><a routerLink="/politica-de-privacidad" class="text-light">Politica de Privacidad</a></li>
            </ul>
        </div>

        <div class="row d-flex d-sm-none">
            <div class="col-12">
                <div class="row">
                    <input type="checkbox" id="btnControl1" class="d-none">
                    <label role="button" for="btnControl1" class="btn btn-dark col-12 d-flex justify-content-between m-0">
                        <span class="text-white font-weight-bold">Nosotros</span>
                        <i class="fas fa-angle-up"></i>
                    </label>
                    <ul class="col-12 m-0">
                        <li><a routerLink="/sobre-fs" class="text-light">Sobre FS</a></li>
                        <li><a routerLink="/contacto" class="text-light">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <input type="checkbox" id="btnControl2" class="d-none">
                    <label role="button" for="btnControl2" class="btn btn-dark col-12 d-flex justify-content-between m-0">
                        <span class="text-white font-weight-bold">Comunidad</span>
                        <i class="fas fa-angle-up"></i>
                    </label>
                    <ul class="col-12 m-0">
                        <li><a class="text-light">Facebook</a></li>
                        <li><a class="text-light">Youtube</a></li>
                        <li><a class="text-light">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <input type="checkbox" id="btnControl3" class="d-none">
                    <label role="button" for="btnControl3" class="btn btn-dark col-12 d-flex justify-content-between m-0">
                        <span class="text-white font-weight-bold">Legal</span>
                        <i class="fas fa-angle-up"></i>
                    </label>
                    <ul class="col-12 m-0">
                        <li><a routerLink="/dcma" class="text-light">DCMA</a></li>
                        <li><a routerLink="/terminos-y-condiciones" class="text-light">Terminos y Condiciones</a></li>
                        <li><a routerLink="/politica-de-privacidad" class="text-light">Politica de Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="col-12 text-center text-white">2020 ©FilmStudio / Derechos Reservados</p>
    <p class="col-12 text-center text-white">Creado por: Orlando Pasaca Rojas</p>
</footer>